.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: rgba(1, 1, 3, 0.54);
	padding: 30px;
}

.logo__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.logo__buttons img {
	margin-top: -37px;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.button__navigate {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    position: relative;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Регулируй отступ линии */
    width: 100%;
    height: 4px;
    background-color: #FF8C00;

    transform-origin: left; /* Начало анимации слева */
    animation: slideIn 0.4s ease-in-out forwards; /* Запускаем анимацию */
}

.user {
	color: #FFA600;
}


@media (max-width: 600px) {
	.header {
		padding: 10px;
	}
	.logo__buttons {
		gap: 15px;
	}
	.button__navigate {
		font-size: 18px;
	}
	.user {
		font-size: 13px;
	}
	.logo__buttons img {
		width: 100px;
		height: 120px;
	}
	.active::after {
		height: 3px;
	}
}

@media (max-width: 425px) {
	.header {
		padding: 10px;
	}
	.logo__buttons {
		gap: 7px;
	}
	.button__navigate {
		font-size: 16px;
	}
	.user {
		font-size: 12px;
	}
	.logo__buttons img {
		width: 70px;
		height: 90px;
		margin-top: -27px;
		margin-left: -10px;
	}
}

@media (max-width: 330px) {
	.user {
		font-size: 10px;
	}
}
